In [1]:
%%capture
!pip install pandas_read_xml

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in d:\py\lib\site-packages (23.2.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip3 install upgrade-pip

Requirement already satisfied: upgrade-pip in d:\py\lib\site-packages (0.1.4)

In [4]:
import pandas as pd

In [19]:
df0 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//ns:titleStmt/ns:author/ns:persName", namespaces={"ns":"http://www.tei-c.org/ns/1.0"})
#df0

In [45]:
df1 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//div")
#df1

In [7]:
df2 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//lg")
df2

,id,lg_numLine,lg_numWord,lg_numSyll,lg_numShortSyll,lg_numLongSyll,rhyme,lg_syllPattern,l
0,lg1,4,20,38,20,18,abcb,9-10-8-11,NaN
1,lg2,4,18,38,19,19,abcb,10-10-9-9,NaN
2,lg3,4,20,40,24,16,abcb,10-10-10-10,NaN
3,lg4,4,24,41,16,25,abcb,11-10-10-10,NaN

In [49]:
df3 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//l")
#df3

In [48]:
df4 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//w")
#df4

In [47]:
df5 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//rhymePair")
#df5

In [46]:
df6 = pd.read_xml("D:\Iskolai\Tananyagok\Szakdolgozat\Bsc\Versek\Ady_00588\Ady_00588_0006.xml", xpath="//alliteration")
#df6

In [44]:
column_names = ['Author', 'Title', 'numStanza', 'numLine', 'numWord', 'numSyll', 'rateShortSyll']
df = pd.DataFrame(columns=column_names)
df.loc[0, ['Author','Title','numStanza','numLine','numWord','numSyll','rateShortSyll']] = 
                                            {'Author': df0.iloc[0, 0] + ' ' + df0.iloc[0, 1],
                                             'Title': df1.iloc[0, 9],
                                             'numStanza': df1.iloc[0, 1],
                                             'numLine': df1.iloc[0, 2],
                                             'numWord': df1.iloc[0, 3],
                                             'numSyll': df1.iloc[0, 4],
                                             'rateShortSyll': round(df1.iloc[0, 5] / df1.iloc[0, 4],3)
                                            }
df

,Author,Title,numStanza,numLine,numWord,numSyll,rateShortSyll
0,Ady Endre,GÓG ÉS MAGÓG FIA VAGYOK ÉN...,4,16,82,157,0.503